* {
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
    padding: 0;
}

html, body, #BG {
    height: 100%;
}

body {
    position: relative;
}

#BG {
    position: fixed;
    width: 100%;
    z-index: -1;
}
#BG #SVG {
    /* position: fixed; */
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
}

/* main */
main {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 0;
}

main #poetry {
    padding: 64px;
    margin: 0 32px 32px 0;
    border-radius: 5px;
    color: #fff;
    writing-mode: vertical-lr;
    transition: all .3s;
}

main #poetry .title-wraper {
    font-family: KaiTi ;
    padding-right: 10px;
}

main #poetry .title-wraper .poetryTitle {
    font-size: 25px;
    max-height: 12em;
}

main #poetry .title-wraper .poetryAuthor {
    font-size: 15px;
    color: rgba(255, 255, 255, .6);
    margin-top: 5px;
}

main #poetry .poetryParagraph p {
    padding: 2px 5px 0 12px;
    font-family: KaiTi ;
    font-size: 22px;
    letter-spacing: 2px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    display: table;
}

/* aside */
aside{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: rgba(0, 0 ,0, .9);
    box-shadow: 0 0 5px 1px rgba(0, 0 ,0, .5);
    transition: all .3s;
}
aside.active{
    width: 40vw;
}
#search-wrapper .searchResult {
    color: #e4e4e4;
    width: calc(100% - 40px);
    margin: 20px;
    overflow: hidden;
    font-family: KaiTi;
    font-size: 19px;
    margin-top: 16px; 
}
#search-wrapper .searchResult li {
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#search-wrapper .searchResult li:hover {
    background: rgba(255, 255, 255, .1)
}
#search-wrapper .searchResult li > .author {
    margin-left: 10px;
    color: rgba(255, 255, 255, .6); 
}
#search-wrapper #keyword {
    padding: 5px 8px;
    width: calc(100% - 40px);
    margin: 20px 20px 0 20px;
    font-size: inherit;
    outline: none;
    border-radius: 3px;
}

#asideBar {
    position: absolute;
    padding: 12px;
    bottom: 0;
    right: 100%;
    background: rgba(0, 0, 0, .2); 
    cursor: pointer;
}
#asideBar > *{
    display: none;
    line-height: 32px;
    width: 32px;
    height: 32px;
    
}

#asideBar > *.active {
    display: block;
}

#asideBar > * > svg {
    fill: rgba(255, 255, 255, .4);
    width: 32px;
    height: 32px;
}

#github {
    color: #c6cbd1;
    position: absolute;
    top: 20px;
    left: -57px;
    line-height: 1;
    font-size: 12px;
}

#github:hover {
    color: #959da5;
}

#github path {
    fill: currentColor;
}

@media(max-width: 600px) {
    aside.active {
        width: 300px;
    }
}
